

# General Information

In these GitHub Pages, you can explore how important data sources for creating sustainability reports are collected, analyzed, and presented. By aligning with an organization's sustainability goals, these steps help achieve overall ESG success.

The Sustainable Reference Architecture reveals how different software applications from various business areas can collaborate to reach ESG goals. It emphasizes the significance of these data sources for tracking, reporting, and using Analytics and AI for ESG objectives.  

For questions or more information, contact us at SSW-Architecture-Questions@ibm.com.  



---

### Disclaimer

Please note that the sustainability reference architecture is intended to serve as a high-level demonstration of how systems can be combined to not only deliver value, but also contribute to achieving sustainability goals. Users should consider replicating this exemplar and modifying it to align with their organization’s specific systems and components for optimal implementation.  



---

#### Customizing the architecture with the *<%-data.appName%>* application

If you are an IBM customer or business partner, you can try out *<%-data.appName%>* to make a copy of the architecture and modify it to support your specific goals.  

If you are new to *<%-data.appName%>* and would like to try it out, send an email to cogarch@us.ibm.com with the subject line of "Request IIAA access", along with your name, company name, and purpose of the request.  

<div style="text-align: left">This architecture can be viewed and modified in 
    <a href="<%- data.serverHost %>/architectures/Social/<%- data.archId %>"><%-data.appName%></a>.
</div>

For more information or if you have any questions, you can also reach us at cogarch@us.ibm.com.  


---

<% if (data.lastModified) { %>
###### Last modified on: <%- data.lastModified %>
<% } %>